title: Adam Yap
description: The professional online home for Adam Yap

# Jekyll settings
markdown: kramdown
plugins:
  - jekyll-feed

# Default layout
defaults:
  - scope:
      path: ""
    values:
      layout: default

